/**
  Container
*/

// Création d'un mixin pour les styles redondants
@mixin bg-with-border($fg, $b) {
  max-width: 80rem;
  margin: 0 auto;
  border-right: 1px solid $b;
  border-left: 1px solid $b;
  background: $fg;
}

// Déclaration des variables
$background: #fafafa;
$foreground: #fff;
$border: #f5f5f5;

body {
  background: $background;
}

.container {
  @include bg-with-border($foreground, $border); //include du mixin de styles redondants

  padding: 0 5rem;
}

.container-absolute {
  position: relative;
  background: $background;

  &::before {
    @include bg-with-border($foreground, $border); //include du mixin de styles redondants

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
