/*
  Fonts
*/

@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..500&display=swap';

body {
  font-weight: 400;
  font-style: normal;
  font-family: 'Rubik', serif;
}
