/*
  Menu
*/

.menu {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  &__item {
    @include resetBtns();

    display: block;
    color: $desaturatedBlue;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
  }

  &__item:hover {
    color: $paleBlue;
  }

  &__item--active {
    color: $paleBlue;
  }
}
